.container {
  display: flex;
}

.profilePic {
  display: flex;
  justify-content: center;
  min-width: 340px;

  img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }
}

.article {
}

.profileSection {
  margin-bottom: 30px;

  h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }

  p {
    line-height: 150%;
    font-weight: 300;
  }
}

@media screen and (max-width: 940px) {
  .container {
    flex-direction: column;
  }

  .profilePic {
    margin-bottom: 40px;

    img {
      width: 180px;
      height: 180px;
    }
  }
}
