.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header {
  margin-bottom: 36px;
  position: relative;

  &__title {
    width: auto;
    color: #EEEEEE;
    font-weight: 900;
    text-shadow: 2px 2px 0px #00ADB5;
    text-align: center;
    font-size: 48px;
    margin: 0;
    line-height: 150%;
  }

  &__subTitle {
    width: auto;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #00ADB5;
  }

  &__logo {
    @keyframes logoAnimation {
      0% {
        transform: rotate(-3deg);
      }
      100% {
        transform: rotate(3deg);
      }
    }

    animation: logoAnimation infinite alternate ease-in-out forwards 150ms;
    animation-iteration-count: 8;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    right: 238px;
    top: -80px;
  }
}

.navigation {
  display: flex;
  justify-content: center;

  &__link {
    font-weight: 500;
    font-size: 24px;
    color: #EEEEEE;
    text-align: center;
    text-decoration: none;
    transition: .2s color;

    &:hover {
      color: #00ADB5;
    }
  }

  &__link:not(:last-child) {
    padding-right: 70px;
  }
}
